.transaction {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.amount-debit {
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
  min-width: 5rem;
}

.transaction-description {
  margin-left: 1rem;
  flex: 1;
}

.transaction-date {
  color: #7d7d7d;

}