:root {
  --primary: #eb4283;
  --primary-darker: #be366a;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: #f4f5f7;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
}

.container {
  border-radius: 2rem;
  padding: 2rem;
  background-color: #fff;
  margin-top: 1rem;
  max-width: 800px;
}

h2 {
  padding-top: 0;
  margin-top: 0;
}

.amount-highlight {
  display: inline-block;
  padding: 1rem;
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem;
}